/* Common and custom styles */

body {
	font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif !important;
	background-color: #f1f1f1 !important;
}

#mainContent_wrapper {
    border-color: black;
    width: 90%;
    background: #fff;
    position: absolute;
    margin-left: 4%;
    margin-right: 3%;
}

#pageAndSideBar_Wrapper {
	width: 98%;
	display: inline-block;
}

#pageContent_Wrapper {
	display: inline;
	float: left;
	width: 70%;
	border: solid #e6e3dd;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#sideBar_wrapper {
	position: absolute;
	display: inline;
	width: 25%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#navgationButton_Wrapper {
	position: relative;
	display: block;
	width: 100%;
	padding-bottom: 8%;
	padding-top: 2%;
}

.pageContent {
	padding-left: 5%;
	padding-right: 5%;
}

.pageHeading {
	font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif !important;
	font-size: medium;
    font-weight: bold;
    color: #154995;
    padding-bottom: 3%;
}

.contentRow {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.rowLeft {
	display: inline-block;
	width: 40%;
}

.rowRight{
	display: inline;
}

#continueButtonId {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: bold;
	height: 30px;
    float: right;
    margin-right: 10%;
    width: auto;
    background-color: #006dcc;
    border-color: #0c69ae;
    color: #fff;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.error {
	color: red;
	font-weight: bold;
	display: block;
	padding-left: 41%;
}

.leftError {
	color: red;
	font-weight: bold;
	display: block;
}

.errorblock {
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

label[for] {
	font-weight: normal;
}

/* Media Query for screen size less than 580px */
@media only screen and (max-width: 580px) {
	#navigationHeader ul li:not(.has-sub), #sideBar_wrapper {
		display: none;		
	}
	#pageContent_Wrapper {
		width: 100%;
	}
	#mainContent_wrapper {
		width: 100%;
		height: 96%;
  		position: inherit;
		margin-left: 0;
		margin-right: 0;	
	}
	#sideBar_wrapper {
		position: relative;
		display: block;
		clear: both;
		width: 100%
	}
}